For the thumbnails:

NAME
ANIMAL ID
SEX
BREED
AGE
CAMPUS

For the Full details page:

NAME
ANIMAL ID
BREED
SEX
AGE
WEIGHT
ADOPTION FEE
And the animal summery that looks like this:
How I arrived:
I was brought in by my previous owner on February 14, 2019.
At SDHS:
I have received great care and am ready for my new home!
Why I am the one for you:
My Personality Color Code is Blue; meaning I'm Bashful...Shy...Introverted...Timid...and Coy! Hi! My name is Hammy but I'm no ham! I have experience living with cats and dogs! The way to my heart is through my tummy with carrots and timothy hay. I'm a little shy at first, but gimme some goodies and I'll be your best friend! Come meet me - HAMMY - today!

COLOR: White / Cream
SPAYED/NEUTERED: No
SUITABILITY GUIDE:
I’M CURRENTLY LOCATED AT:
San Diego Campus - 5500
5500 Gaines Street, San Diego, CA, 92110
619-299-7012
info@sdhumane.org<mailto:info@sdhumane.org>

My adoption fee includes my spay/neuter, current vaccinations, permanent microchip identification, a certificate for a free veterinary exam, waived enrollment fee for medical insurance from PetFirst, and a license for residence in the city limits of Carlsbad, Del Mar, Encinitas, Escondido, Imperial Beach, Oceanside, Poway, San Diego, San Marcos, Santee, Solana Beach and Vista.

This website is live and updates frequently, there is chance that when you arrive at our location the animal you have an interest in might have been adopted or another party might be going through the adoption process at that present time. Please note the Animal ID and bring it with you.

